<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Document</title>
</head>

<body>

    <div class="container content-center" margin-top:50>
        <div class="row">
            <div class="col s6">
                <div>
                    <h4>Письмо подтверждения отправлено!</h4>
                    <p>
                        На ваш адрес электронной почты было отправлено письмо с подтверждением. Пожалуйста, проверьте
                        свою электронную почту и нажмите на ссылку подтверждения, чтобы завершить регистрацию.
                        Если письмо не пришло, проверьте папку спам.
                    </p>
                </div>
            </div>
        </div>
        </form>
    </div>
</body>