<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Document</title>
</head>

<body>
    <div class="container content-center">
        <H2>You`r login as Moderator</H2>
        <a href="{%url 'logout' %}" class="btn waves-effect waves-light">Logout</a>
    </div>
</body>

</html>